<%- include('layout/_header') %>

        <% if(message){%>
            <div class="alert <%= message.type %>" id="message">
                <%= message.message %>
            </div>
        <%}%>
        <div class="notifications">
            <h1 class="hero-h1">Get the latest <span>Mission Updates</span> Here</h1>   
            <%  if(notices.length > 0) { %>
                <% notices.forEach((notice, index)=>{ %>
                    <div class="notice-card">
                        <h1><span><%=index+1%>.</span> <%= notice.title%>  <span class="date">Date Posted:(<%=notice.date%>)</span> </h1>
                        <p><%=notice.message%></p>
                    </div>
               <% }) %>
            <% }else{ %>
            <p>There are currently no notifications available at the moment</p> 
           <% } %>    
        </div>
    </div>
    <script>
        // Function to hide the message after a timeout period
        setTimeout(() => {
            const messageElement = document.getElementById('message');
            if (messageElement) {
                messageElement.style.display = 'none';
            }
        }, 2000); // Hide message after 5 seconds (adjust timeout period as needed)
    </script>
    <%- include('layout/_footer') %>