<%- include('layout/_header') %>

      <% if(message){%>
        <div class="alert <%= message.type %>" role="alert" id="message">
            <%= message.message %>
        </div>
      <%}%>

      <div class="container-table">
        <% if (users.length > 0) { %>

          <form action="/search" method="get" class="search">
              <input type="text" name="query" placeholder="search Member Here">
              <button type="submit">Search</button>
          </form>

          <form action="/delete/all" method="post" class="delete-all">
            <button type="submit">Delete All</button>
        </form>
        <table>
          <thead>
            <tr>
              <td><a href="/download-csv">Download Csv</a></td>
            </tr>
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>E-mail</th>
              <th>Phone</th>
              <th>Registration No.</th>
              <th>Payment <%= charges %></th>
              <th>Role</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((row, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= row.name %></td>
              <td><%= row.email %></td>
              <td><%= row.phone %></td>
              <td><%= row.admission %></td>
              <td><%= row.payment %></td>
              <td><%= row.duty %></td>
              <td>
                <a href="/edit/<%= row._id %>" class="btn">Edit</a>
                <a href="/delete/<%= row._id %>" class="btn">Delete</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <h1 class="err">No Registered Member found in the database</h1>
        <% } %>
      </div>
    </div>
    <script>
      // Function to hide the message after a timeout period
      setTimeout(() => {
          const messageElement = document.getElementById('message');
          if (messageElement) {
              messageElement.style.display = 'none';
          }
      }, 2000); // Hide message after 5 seconds (adjust timeout period as needed)
  </script>
<%- include('layout/_footer') %>
